<div class="container-fluid position-sticky top-0 bg-white " >
    <div class="row text-center">
        <h1>The Social Net</h1>
        <span>© The not X Company</span>
    </div>
    <div class="row">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid bg-primary ">
          <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item me-5">
                <a class="nav-link active text-white" aria-current="page" href="/user/feed">Home</a>
              </li>
              <li class="nav-item me-5">
                <a class="nav-link text-white" href="/user/newpost">New Post</a>
              </li>
              <li class="nav-item me-5">
                <a class="nav-link text-white" href="/user/profile">Profile</a>
              </li>
              <li class="nav-item me-5">
                <form action="/logout" method="post">
                  <input type="submit" value="Log Out" id="logout_btn" class="btn btn-danger mt-1" style="padding: 0.1rem;">
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
</div>