<div class="container-fluid position-sticky top-0 bg-white " >
    <div class="row text-center">
        <h1>The Social Net</h1>
        <span>© The not X Company</span>
    </div>

    <div class="row ">
      <div class="bg-primary d-flex fw-bold justify-content-center p-2 mb-2 position-relative">
        <div class="pe-4">
          <a class="text-white pe-2 text-decoration-none" href="/user/feed">Home</a>
        </div>
        <div class="pe-4">
          <a class="text-white pe-2 text-decoration-none" href="/user/newpost">New Post</a>
        </div>
        <div class="pe-4">
          <a class="text-white pe-2 text-decoration-none" href="/user/profile">Profile</a>
        </div>
        <div class="pe-4 position-absolute end-0 top-0">
          <form action="/logout" method="post">
            <button type="submit" class="btn btn-danger">
              <i class='fa-solid fa-right-from-bracket'></i>
            </button>
          </form>
        </div>
      </div>
    </div>
</div>