<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Edit Profile</title>
</head>

<body>

    <!-- heading -->
    <%- include('components/header') %>

    <%if(err.isError){%>
        <div class="alert alert-danger" >
            <%=err.msg%>
        </div>
    <%}%>

    <form action="/user/edit/profile" method="post" class="mt-5" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="newProfile" class="form-label">Select New Profile Image : </label>
                        <input id="newProfile" class="form-control" name="newProfile" type="file" onchange="handleImageCompress(event)">
                    </div>
                </div>
                <div class="col-6">
                    <label for="Bio" class="form-label">Bio :</label>
                    <input class="form-control" name="newBio" type="text" value="<%=bio%>" required>
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-center">
            <button type="submit" class="btn btn-primary me-5">Upload</button>
            <a class="btn btn-primary" href="/user/profile" role="button">Cancel</a>
        </div>
    </form>

    <!-- in browser commpression -->
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.1/dist/browser-image-compression.js"></script>



    <%- include('components/footer') %>