<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        p{
            text-align: center;
        }
        #title{
            font-family:"Brush Script MT", cursive;
            font-size: 4.5rem;
        }
        #mainBox{
            margin-top: 6rem;
        }
        #info{
            margin-top: -2em;
            font-size: 1.2rem;
        }
        #logSign{
            margin-top: 2rem;
            font-size: 1.5rem;
        }
        a{
            text-decoration: none;
        }
    </style>
    <title>Social net</title>
</head>
<body class="bg-primary-subtle">
    <div class="container" id="mainBox">
        <div class="row justify-content-center" >
            <div class="col-lg-5 col-md-8 col-sm-10">
                <p id="title">
                    The Social Net 
                </p>
                <p id="info">
                    The best place to get social.
                </p>
                <p id="logSign">
                    <a href="/login">Login </a>
                </p>
                <p>
                    Don't have an account?? 
                    <a href="/signup">Signup</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>