<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the protected page.</h1>

    <form action="/logout" method="post">
        <input type="submit" value="LogOut" id="logout_btn" class="btn btn-danger mt-4 ms-2">
    </form>
</body>
</html>